html {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:  "brandon-grotesque", sans-serif;
  height: 100%;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

#main {
  width: 58%;
}

#main-wrap {
  max-width: 800px;
  padding: 48px 90px;
  margin: 0 auto;
}
#yip-logo {
  display: block;
  width: 222px;
  height: 37px;
}
/* left content */
.a-head {
  font-weight: 900;
  font-size: 12em;
  line-height: .9;
  color: #2d8ce2;
  text-transform: uppercase;
  letter-spacing: -.025em;
  margin: 48px 0;
}
.b-head {
  font-size: 3.6em;
  line-height: 1.285;
  margin: 0 0 64px;
  color: #f00b3c;
  font-weight: 700;
}
.content {
  color: #444;
}
.content a:link, .content a:visited {
  color: #0077e6;
  text-decoration: none;
  border-bottom: 1px solid #bcbcbc;
  transition: all .2s;
} 
.content a:hover {
  color: #0057a9;
  border-bottom: 1px solid #0057a9;
}
.content h3 {
  font-size: 2.6em;
  font-weight: 700;
  margin: 0 0 16px;
}
.content p {
  font-size: 2.1em;
  line-height: 1.5;
  margin: 0 0 16px;
}
.content p + h3 {
   margin: 32px 0 16px;
}


/* right content */
#sign-up {
  position: fixed;
  width: 42%;
  background: #2591d0 url('../img/form-bk.jpg') no-repeat right bottom;
  top:0;
  right:0;
  height: 100%;
  color:#fff;
  border: 13px solid #232323;
  padding-bottom: 200px;
}
.sign-up-wrap {
  padding: 48px 80px;
  max-width: 600px;
  overflow: auto;
  margin: 0 auto;
}
.c-head {
  text-transform: uppercase;
  font-size: 4.2em;
  line-height: 1;
  font-weight: 900;
  margin: 72px 0 32px;
  letter-spacing: -.025em;
}
#sign-up p {
  font-size: 2.1em;
  line-height: 1.3;
  margin: 0 0 32px;
  font-weight: 700;
}
#sign-up .kickoff {
  font-weight: 400;
}
#sign-up .kickoff-date {
  font-weight: 900;
  font-size: 1.125em;
}

/* form */

label {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: .025em;
  display: block;
  font-weight: 900;
  padding: 0 5px 3px 0;
}
input[type="text"] {
  font-size: 1.8em;
  padding:3px 8px;
  border-radius: 3px;
  color: #333;
  border:none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid #fff;
  transition: all .2s;
}
input[type="text"]:focus {
  border: 2px solid #333;
  outline: 0;
}
input[type="submit"] {
  background: #2d8ce2;
  font-weight: 900;
  padding: 5px 20px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: .025em;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  float: right;
  margin-top: 10px;
  transition: all .2s;
}
input[type="submit"]:hover {
  background: #1077d4;
  cursor: pointer;
}


.employers {
  background: rgba(0, 39, 77, .5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.employers .sign-up-wrap {
  padding: 15px 80px 10px;
}
#sign-up .employers h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8em;
  letter-spacing: .05em;
  margin-bottom: 9px;
}
#sign-up .employers p {
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.35;
}

.employers a:link, .employers a:visited {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  transition: all .2s;
}
.employers a:hover {
  color: #1fc8ff;
}
